/***************************************** General settings */
html, body {
    margin: 0;
    padding: 0;
    /* Use full page length */
    height: 100%;
    width: 100%;
}

* {
    box-sizing: border-box;
    font-family: "Rubik", sans-serif;
}

h1 {
    font-family: Gugi;
    letter-spacing: 2px;
}

h1 span {
    font-size: 15px;
    position: relative;
    bottom: 8px;
    margin-right: 10px;

}

/*********************************************** Navigation part */
#side_navigation {
    background-color: rgba(63, 71, 77, 255);
    float: left;
    width: 17%;
    height: 100%;
    color: white;
    padding-left: 10px;
}

#user_box {
    border: 1px solid #f5e7dd;
    margin-left: 10px;
    margin-top: 50px;
    margin-right: 10px;
    background-color: rgba(63, 71, 77, 255);
    border-radius: 5px;
    width: 250px;
    height: 50px;
}

#product {
    border: 1px solid #f5e7dd;
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 30px;
    border-radius: 5px;
    width: 180px;
    height: 30px;
    background-color: rgba(73, 83, 90, 255);
}

#product_static {
    display: inline-block;
    color: peru;
    margin-top: 5px;
}

#product_label {
    display: inline-block;
    margin-bottom: 40px;
}

#user_box, #product_static, a {
    padding-left: 20px;
}

a {
    display: block;
    color: white;
    border: none;
    width: 100%;
    text-decoration: none;
    padding-top: 10px;
    padding-bottom: 10px;
}

a:hover {
    background-color: darkolivegreen;
}


/*********************************************** Content part */

#navigation_content {
    float: left;
    width: 83%;
    height: 100%;
}

table {
    width: 90%;
    margin-left: 50px;
    margin-right: 50px;
}

td, th {
    border-style: none none dashed;
    padding-top: 10px;
    padding-bottom: 15px;
}

tr {
    text-align: left;
    text-transform: uppercase;
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 600px) {

}

/**** Hide all tabs by default */
.menu_info, .user_info {
    display: none;
}

/**** Show only active tab*/
.show-div {
    display: block;
}

/*********************************************** User tab */
/* Menu part */

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
    float: left;
}

li a {
    display: block;
    color: grey;
    text-align: center;
    padding: 16px;
    background-color: inherit;
    border: none;
    width: 100%;
    text-decoration: none;
}

li a:hover {
    background-color: darkolivegreen;
}

#user_id_pending {
    width: 100%;
    height: 60px;
    border-style: none none solid;
    border-width: thin;
    border-color: grey;
}

#user_pending_h2 {
    display: block;
    width: 150px;
    margin-left: 15px;
    color: #6c6666;
}

#user_pending_h2 span {
    padding-right: 10px;
    color: #6c6666;
}

#pending_customer {
    display: inline-block;
    margin-top: 20px;
    margin-left: 10px;
    padding-right: 5px;
    background-color: #c2bbbb;
    font-size: 12px;
}

.float_left {
    display: inline-block;
    float: left;
}

.float_right {
    display: inline-block;
    float: right;
    color: #6c6666;
    background-color: white;
    padding-right: 30px;
}

.float_right span {
    display: inline-block;
    background-color: #c2bbbb;
    width: 20px;
    padding-left: 8px;
}

#user_tabs {
    display: block;
    float: left;
    width: 100%;
    padding-left: 30px;
}

#documents_grid {
    display: grid;
    grid-template-columns: 10% 10% 65% 5% 5% 5%;
    grid-template-rows: 50px;
    width: 100%;
    height: 500px;
    border: solid 1px red;
}

.column {
    margin: 10px;
    padding: 10px;
    border: solid 1px blue;
}

.row {
    border: solid 1px greenyellow;
}
