/***************************************** General settings */
html, body {
    margin: 0;
    padding: 0;
    /* Use full page length */
    height: 100%;
    width: 100%;
}

* {
    box-sizing: border-box;
    font-family: "Rubik", sans-serif;
}

h1 {
    font-family: Gugi;
    letter-spacing: 2px;
}

h1 span {
    font-size: 15px;
    position: relative;
    bottom: 8px;
    margin-right: 10px;

}

/*********************************************** Navigation part */
#side_navigation {
    background-color: rgba(63, 71, 77, 255);
    float: left;
    width: 17%;
    height: 100%;
    color: white;
    padding-left: 10px;
}

#user_box {
    border: 1px solid #f5e7dd;
    margin-left: 10px;
    margin-top: 50px;
    margin-right: 10px;
    background-color: rgba(63, 71, 77, 255);
    border-radius: 5px;
    width: 250px;
    height: 50px;
}

#product {
    border: 1px solid #f5e7dd;
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 30px;
    border-radius: 5px;
    width: 180px;
    height: 30px;
    background-color: rgba(73, 83, 90, 255);
}

#product_static {
    display: inline-block;
    color: peru;
    margin-top: 5px;
}

#product_label {
    display: inline-block;
    margin-bottom: 40px;
}

#user_box, #product_static, a {
    padding-left: 20px;
}

a {
    display: block;
    color: white;
    border: none;
    width: 100%;
    text-decoration: none;
    padding-top: 10px;
    padding-bottom: 10px;
}

a:hover {
    background-color: darkolivegreen;
}

{

}
/*********************************************** Content part */

#navigation_content {
    float: left;
    width: 83%;
    height: 100%;
}

table {
    width: 90%;
    margin-left: 50px;
    margin-right: 50px;
}

td, th {
    border-style: none none dashed;
    padding-top: 10px;
    padding-bottom: 15px;
}

tr {
    text-align: left;
    text-transform: uppercase;
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 600px) {

}

/**** Hide all tabs by default */
.menu_info {
    display: none;
}

/**** Show only active tab*/
.show-div {
    display: block;
}


